<footer style="background-color: #3C3D41;">
    <div class="container">
        <div class="row pt-3 d-flex justify-content-center">
            <div class="col-2">
                <ul class="p-0 pe-3 footer">
                    <dt class=" fs-5">INSTITUCIONAL</dt>
                    <dd>Quem Somos</dd>
                    <dd>Serviços</dd>
                    <dd>Contato</dd>
                </ul>
            </div>

            <div class="col-3 d-flex justify-content-center">
                <ul class="footer">
                    <dt class="me-5 fs-5">NOSSOS SERVIÇOS</dt>
                    <dd>FRACIONADO</dd>
                    <dd>EXPRESS</dd>
                    <dd class="p-0">LOTAÇÃO</dd>
                </ul>
            </div>

            <div class="col-3 d-flex justify-content-start">

                <ul class="p-0 footer">
                    <dt class="fs-5">CONTATO & ENDEREÇO</dt>
                    <dd>Vila Mariana, 688 - Jardim Primavera <div></div>São Paulo - SP</dd>
                    <dd>(17) 98836-0281</dd>
                    <dd>WALISSON.GONZALES@GMAIL.COM</dd>
                </ul>
            </div>

            <div class="col-3">
                <ul class="footer">
                    <dt class="fs-5">SOBRE</dt>
                    <dd>A SuedExpress conta com serviços de transporte de encomendas convencionais de pequenos,
                        médios e grandes volumes através de nossos caminhões.
                    </dd>
                </ul>
            </div>

        </div>
    </div>
</footer>


<div class="container-fluid p-0">


    <div class="footer-copyright text-center bg-dark py-2">
        <span class="text-light fst-italic font-monospace">
            &copy; 2021 Todos os direitos reservados:  Walisson Gonzales
        </span>
    </div>

</div>