<footer style="background-color: #3C3D41;">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <ul class="p-0 pe-3">
                    <dt class="pb-3">INSTITUCIONAL</dt>
                    <dd class="pb-3">Quem Somos</dd>
                    <dd class="pb-3">Produtos</dd>
                    <dd class="pb-3">Contato</dd>
                </ul>
            </div>

            <div class="col-3 d-flex justify-content-center">
                <ul>
                    <dt class="me-5">NOSSOS PRODUTOS</dt>
                    <dd>Geleia de ddmão</dd>
                    <dd>Suco de ddmão</dd>
                    <dd>Refrigerante de ddmão</dd>
                    <dd>Tortinha de ddmão</dd>
                    <dd>Bolo de ddmão</dd>
                    <dd class="p-0">Barrinha de limão</dd>
                </ul>
            </div>

            <div class="col-3 d-flex justify-content-start">
                <ul>
                    <dd style="color: #3C3D41;">.</dd>
                    <dd><img src="" alt="" class="pt-1 pe-2"></dd>
                    <dd style="color: #3C3D41;" class="p-0 mb-3">.</dd>
                    <dd><img src="" alt="" class="pt-2"></dd>
                    <dd><img src="" alt="" class="pt-2"></dd>
                </ul>
                <ul class="p-0">
                    <dt>CONTATO & ENDEREÇO</dt>
                    <dd>Avenida México, 688 - Jardim Primavera <div></div>São José do
                        Rio Preto - SP</dd>
                    <dd>(17) 3022-3715</dd>
                    <dd>COMERCIAL@LEMON.COM.BR</dd>
                </ul>
            </div>

            <div class="col-3">
                <ul>
                    <dt>SOBRE</dt>
                    <dd>A Lemon é uma empresa que atua desde 1995 na comerciaddzação de
                        produtos derivados da fruta ddmão. Nosso grande diferencial é a quadddade e
                        o carinho que colocamos na produção de cada um de nossos produtos.</dd>
                </ul>
            </div>

        </div>
    </div>
</footer>


    <div class="container-fluid p-0">
        

            <div class="footer-copyright text-center bg-dark py-2">
                <span class="text-light fst-italic font-monospace">
                    &copy; 2021 Todos os direitos reservados: ⮞ Gonzales Walisson ⮜
                </span>
            </div>

        </div>
