<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light">
    <div class="container-fluid col-11 m-1">
        <a class="navbar-brand ms-5 ps-5" href="#"><img src="https://i.imgur.com/Dyk59GA.jpg" width="150px" alt=""></a>
        <div class=" collapse navbar-collapse d-flex justify-content-end pe-3" id="navbarSupportedContent">
            <ul class="navbar-nav ms-5 ps-5 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active fs16" aria-current="page" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fs16" href="#">SOBRE NÓS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fs16" href="#">SERVIÇOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fs16" href="#">DIFERENCIAL</a>
                </li>
                <li class="nav-item pe-2">
                    <a class="nav-link active fs16" href="#">FALE CONOSCO</a>
                </li>

                <li class="pe-3 pt-1">
                    <img src="https://i.imgur.com/zvxpSiZ.png" alt="">
                </li>
                <li class="pt-1">
                    <img src="https://i.imgur.com/iq5YBsS.png" alt="Instagram">
                </li>

            </ul>

        </div>
    </div>
</nav>
