@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
/*fonte logo INGRESSA*/

/* @font-face {
    font-family: Argentum;
    src: local(argentum-sans) url(../../assets/argentum-sans.regular.ttf);
} */

/*cor do menu*/

.bg-roxo {
    background-color: #845ABF;
}

/*cor do campo de pesquisa*/

.bg-lilas {
    background-color: #e3dcf2;
}

.ft-menu {
    font-family: "Argentum";
    font-size: 26px;
    font-weight: bolder
}

.ft-eczar {
    font-family: 'Eczar';
    font-size: 20px;
}

.ft-poppins {
    font-family: 'Poppins';
}

.ft-roboto {
    font-family: 'Roboto Slab';
}

.br-forms {
    border-color: none;
}