<div>.</div>
<div class="container-fluid bg-secondary">
    <div class="row ">
        <div class="col-12 d-flex ">
            <div class="col-6 d-flex justify-content-center">
                <img src="https://i.imgur.com/mBMoT2x.png" alt="" class="w-50">
            </div>

            <div class="col-6 d-flex justify-content-center flex-column">
                <p>Responsabilidade, ética e pontualidade. Estes são os grandes diferenciais que proporcionam um
                    atendimento rápido e eficaz graças à eficiência em nossa comunicação.</p>
                <button class="btn btn-success">COMO FUNCIONA?</button>
            </div>
        </div>
    </div>
</div>

<!-- ====================== -->
<div class="container-fluid">
    <div class="row" style="background-image: url(https://i.imgur.com/yWs93Do.jpg);">
        <div class="col-6 flex-column" style="height: 270px;">
            <p>Atendimento Diferenciad</p>
            <p> Nossos atendentes estão prontos para lhe informar sobre cotações, previsão de saída e de chegada, regras
                e normas de envio de mercadorias, rasatreio de mercadorias.</p>
        </div>
    </div>
</div>