<div class="container-fluid mt-3">
    <div class="row p-0">
        <img src="https://i.imgur.com/m4Pl8on.jpg" alt="" width="100vw" class="p-0">
        <div class="col-8 col-xxl-5 mt-xxl-5 d-flex justify-content-center mt-3 ps-5"
            style="position: absolute;">
            <div class="d-flex flex-column">
                <p class="text-center fs20 fs-2 mt-3">Atendimento Diferenciado</p>
                <p class="text-center text-black ffRale fs-3"> Nossos atendentes estão prontos para lhe informar sobre
                    cotações, previsão de saída
                    e de chegada, regras
                    e normas de envio de mercadorias, rasatreio de mercadorias.</p>
            </div>
        </div>
    </div>
</div>