<div class="container-fluid p-0">
    <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://media.discordapp.net/attachments/882042371834015744/882052535366611015/cami3.jpg?width=911&height=338"
                    class="d-block w-100 " alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="fs35">HÁ MAIS DE 50 ANOS NO MERCADO DE TRANSPORTES</h5>

                </div>
            </div>
            <div class="carousel-item">
                <img src="https://media.discordapp.net/attachments/882042371834015744/882052535366611015/cami3.jpg?width=911&height=338"
                    alt="..." class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="fs35">LEVANDO A SUA ENCOMENDA A ONDE VOCÊ ESTIVER</h5>

                </div>
            </div>
            <div class="carousel-item">
                <img src="https://media.discordapp.net/attachments/882042371834015744/882052535366611015/cami3.jpg?width=911&height=338"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="fs35">ESPECIALISTAS EM ENTREGAS DE CARGAS E ENCOMENDAS</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="d-flex justify-content-center m-3">
    <p class="fs16">"Com sua confiança, esperamos estabelecer uma forte parceria, torcendo pelo seu sucesso e prosperidade."</p>
</div>

<!-- ======================================= -->

<!-- ======================================= -->
<div class="container p-0">
    <P class="d-flex justify-content-center mt-4 p-0 m-0 mb-3 fs20" >PRINCIPAIS SERVIÇOS</P>

    <div class=" d-flex justify-content-center p-0 m-0 mb-3">
        <div class="card me-3 zoom bg-dark border-0" style="width: 18rem;">
            <img src="https://www.transpencargas.com.br/wp-content/uploads/2021/01/fracionado.png" class="card-img-top"
                alt="1">
            <div class="card-body text-light">
                <p class="text-center">FRACIONADO</p>
                <p class="card-text">O transporte de cargas fracionadas sem limite de peso, tamanho ou quantidade.
                    “A necessidade da sua empresa cabe em nossa frota”.</p>
            </div>
        </div>
        <div class="card me-3 zoom bg-dark border-0" style="width: 18rem;">
            <img src="https://www.transpencargas.com.br/wp-content/uploads/2021/01/transpex.png" class="card-img-top"
                alt="2">
            <div class="card-body text-light">
                <p class="text-center">EXPRESS</p>
                <p class="card-text">Envios urgentes de pequenos volumes de hora em hora através dos terminais
                    rodoviários. “A garantia da sua mercadoria no horário e local exato”.</p>
            </div>
        </div>
        <div class="card zoom bg-dark border-0" style="width: 18rem;">
            <img src="https://www.transpencargas.com.br/wp-content/uploads/2021/01/lotacao.png" class="card-img-top"
                alt="3">
            <div class="card-body text-light">
                <p class="text-center">LOTAÇÃO</p>
                <p class="card-text">A agilidade e segurança de sua mercadoria em qualquer lugar do Brasil.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <p class="d-flex justify-content-center fs20">OUTROS SERVIÇOS</p>

        <div class=" d-flex justify-content-center p-0 m-0">
            <div class="card me-3 zoom  border-0" style="width: 18rem;">
                <img src="https://www.mellotransportesriopreto.com.br/img/posts/postagens/201611091044241689/400/10442409112016.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p>COLETA DE ASSINATURAS</p>

                </div>
            </div>

            <div class="card me-3 zoom  border-0" style="width: 18rem;">
                <img src="https://www.mellotransportesriopreto.com.br/img/posts/postagens/20161109110725374/400/11072509112016.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p>MANUSEIO E MONTAGEM DE KITS</p>

                </div>
            </div>

            <div class="card me-3 zoom  border-0" style="width: 18rem;">
                <img src="https://www.mellotransportesriopreto.com.br/img/posts/postagens/201611011753351680/400/17533501112016.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p>SERVIÇOS DE OFFICE BOY</p>

                </div>
            </div>

            <div class="card me-3 zoom  border-0" style="width: 18rem;">
                <img src="https://www.mellotransportesriopreto.com.br/img/posts/postagens/201610312002312484/400/20023131102016.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p>MOTOFRETE</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======================================= -->

<!-- ======================================= -->
<div class="container-fluid mb-5">
    <div class="row parallax">
        <div>
            <p class="text-center">ENVIE SUAS ENCOMENDAS DE FORMA RÁPIDA E SEGURA</p>

            <div class="d-flex align-items-start justify-content-between pb-5">
                <div class="d-flex flex-column ps-5">
                    <p class="text-center">+2.000.000</p>
                    <p>PEDIDOS ENTREGUES</p>
                </div>
                <div class="d-flex flex-column">
                    <p class="text-center ">+5.600</p>
                    <p>CLIENTES ATENDIDOS</p>
                </div>

                <div class="d-flex flex-column pe-5">
                    <p class="text-center ">+230</p>
                    <p>CIDADES ATENDIDAS</p>
                </div>
            </div>
        </div>
    </div>
    <!-- ======================================= -->